
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 215 27% 17%;
    --card-foreground: 210 40% 98%;
    --popover: 215 27% 17%;
    --popover-foreground: 210 40% 98%;
    --primary: 213 50% 11%;
    --primary-foreground: 220 9% 88%;
    --secondary: 215 27% 17%;
    --secondary-foreground: 220 9% 88%;
    --muted: 213 25% 56%;
    --muted-foreground: 213 25% 56%;
    --accent: 213 27% 36%;
    --accent-foreground: 220 9% 88%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 213 27% 36%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-primary text-primary-foreground;
  }
}
